footer {
    padding-top: 50px;
    text-align: center;
}

/* 全体のCSS */
.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-main {
    width: 70%;
}

/* サイドバー関連のCSS */
.sidebar {
    width: 30%;
    list-style: none;
}

.sidebar li {
    margin: 10px;
}

.sidebar-list::before {
    font-family: "FontAwesome";
    content: "\f042";
    margin-right: 5px;
}

.focus {
    font-weight: bold;
    color: #656565;
}

.focus::before {
    font-family: "FontAwesome";
    content: "\f150";
    margin-right: 5px;
}

.hero {
    /* background: -moz-linear-gradient(left, #ED1674, #FFC400);
    background: -webkit-linear-gradient(left, #ED1674, #FFC400);
    background: linear-gradient(to right, #ED1674, #FFC400); */

    background: -moz-linear-gradient(left, #00d1b2, #3273dc);
    background: -webkit-linear-gradient(left, #00d1b2, #3273dc);
    background: linear-gradient(to right, #00d1b2, #3273dc);

}

.hero .title,
.hero .subtitle {
    color: white;
}

/* Footerのスタイル */

.footer {
    background: -moz-linear-gradient(left, #00d1b2, #3273dc);
    background: -webkit-linear-gradient(left, #00d1b2, #3273dc);
    background: linear-gradient(to right, #00d1b2, #3273dc);
    color: white;
}


.footer a:link,
.footer a:visited {
    color: white;
}

.footer a:active,
.footer a:hover {
    color: #fcf594;
}

.footer ul li {
    margin-right: 0.5rem;
}

.footer ul li::before {
    content: "/";
    margin-right: 0.5rem;
}

.footer ul :first-child::before {
    content: "";
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem
}

.box {
    padding: 3rem;
    margin: 2rem;
}

.footer {
    margin-top: auto;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cell-link {
    margin: 0 20px;
    color: #AAA;
}

.cell-link span {
    padding-right: 1rem;
}

.cell-link:nth-child(1):hover {
    color: pink;
}

.cell-link:nth-child(2):hover {
    color: skyblue;
}

.cell-link:nth-child(3):hover {
    color: crimson;
}

.swiper-container {
    margin:0 2rem;
}

.swiper-slide {
    width:75%;
}

.swiper-slide>div {
    height:100%;
    padding: 2.5rem 1.25rem;
}

.swiper-button-next, .swiper-button-prev {
    width: 2em;
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    z-index: 10;
    cursor: pointer;
    background: none;
}